@use "../colors.scss" as *;

.car-sell {
  display: grid;
  gap: 20px;
  padding: 40px;
  margin-top: -80px;
  margin-left: 150px;



  &__header_inside {
  color:white;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-famile: 'Anta', sans-serif;
  }

  &__title {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  &__form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    display: flex;
    width: 800px;
    height: 1300px;
  }

  &__powdstawoweInformacje {
    font-size: 20px;
    justify-content: left;
    align-items: center;
    flex-direction: column;
  }

  &__podstawowe-informacje {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #333232;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;

  }

  &__specyfikacje-techniczne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #333232;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;

  }



  &__wyglad-stan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #333232;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;

  }

  &__opis-zdjecia {
    display: grid;
    gap: 15px;
    padding: 20px;
    border-bottom: none;

  }

  textarea {
    border-radius: 9px;
    border: 1.5px solid #000000;
    width: 750px;
    height: 100px;
  }

  &__input {

  }

  h2 {
  font-size: 20px;
    margin-left: 15px;

  }

  &__url {
    border-radius: 9px;
    border: 1.5px solid #000000;
    width: 750px;
    height: 49px;

  }

  &__dodaj-zdjecie {
    width: auto;
    padding: 0;
    border: none;
    background: none;
    color: #4A90E2;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 80ex;
    margin-top: -7ex;


  }

  &__wyczysc {
    border-radius: 9px;
    background: #F83641;
    color:white;
    border:none;
    width: 155px;
    height: 46px;
  }

 &__wystaw-auto{
   border-radius: 9px;
   background: #F83641;
   color: white;
   border:none;
   width: 155px;
   height: 46px;



 }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }





}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;


  input[type="text"],
  input[type="number"],
  {
    border-radius: 9px;
    border: 1.5px solid #000000;
    width: 365px;
    height: 49px;
  }


select {
  border: 1.5px solid #000000;
  width: 365px;
  height: 49px;
  border-radius: 9px;
  background: #C1C1C1;

}
}



