@use "../colors.scss" as *;

.profile-messages {
  &__title {
    font-family: "Anta", sans-serif;
    margin: 40px 0 20px 0;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__sidebar {
    background: $white-bg;
    color: $bg-black;
    width: 550px;
    min-height: 700px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;

    @media (max-width: 1200px) {
      width: 45%;
      min-height: 500px;
      padding: 1.5rem;
    }

    @media (max-width: 768px) {
      width: 90%;
      min-height: auto;
      margin-bottom: 2rem;
    }
  }

  &__image {
    max-width: 80%;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__subtitle {
    font-family: "Anta", sans-serif;
    text-align: center;
    max-width: 80%;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      max-width: 95%;
    }
  }

  &__text {
    text-align: center;
    max-width: 65%;
    color: $light-grey-opacity;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }

  &__link {
    color: $orange;
    cursor: pointer;
    text-decoration: underline;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 300px;

    &-inner {
      text-align: center;

      img {
        max-width: 80%;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }

      .profile-messages__subtitle {
        max-width: 70%;
        margin: 0 auto;

        @media (max-width: 768px) {
          max-width: 95%;
        }
      }
    }

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
}
