.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.no-results-img {
  max-width: 350px;
  height: auto;
}

.wide-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

* {
  font-family: "Montserrat", sans-serif;
}