@use "../styles/colors" as *;
@use "../styles/mixins" as *;

.car-card {
  @include background($color: $white-bg);
  @include red-glow(2px, 5px, 0.3);
  color: $light-black;
  padding: 15px 20px;
  max-width: 710px;
  min-height: 210px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-profile {
    width: 100%;
    max-width: 900px;
  }

  &__image {
    max-width: 200px;
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: 40% 50%;
      border-radius: 10px;
    }
  }

  &__info {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__info-title {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;

    a {
      color: $light-black;
      font-weight: bold;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      transition: all 0.1s;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $orange;
        color: $orange;
      }
    }
  }

  &__info-description {
    font-size: 14px;
    font-weight: 400;
    color: #2f2f2f;
    margin-bottom: 10px;
  }

  &__details {
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;

    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__producer {
    margin-bottom: 0;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__fav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    i {
      color: $light-orange-red;
    }
  }
}
