@use "../styles/colors" as *;
@use "../styles/mixins" as *;

.cars-page {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.filtration-form {
  // width: fit-content;
  // @include red-glow;
  // background-color: $light-grey-opacity;
  display: none;
}
