$smoke-grey: rgb(213, 213, 213, 0.6);
$light-black: #1a1a1a;
$bg-black: #050505;
$darker-grey: #2f2f2f;
$light-grey: #5d5d5d;
$light-grey-hover: #494949;
$light-grey-opacity: rgb(93, 93, 93, 0.6);
$grey-bg: #3C3C3C;
$light-orange-red: #c82814;
$orange: #ff3b00;
$orange-hover: #c5360a;
$white: #f9f9f9;
$white-smoke: #f9f9f998;
$white-bg: #e0e0e0;
$input-bg: #f1f1f1;

$accent: #e63946;
$accent-bright: #f77f88;
$accent-dim: #a4161a;
$accent-dark: #d41234;
$success: #3bd671;
$success-glow: #2db366;