$smoke-grey: rgb(213, 213, 213, 0.6);
$light-black: #1a1a1a;
$darker-grey: #2f2f2f;
$light-grey: #5d5d5d;
$light-grey-opacity: rgb(93, 93, 93, 0.6);
$light-orange-red: #c82814;
$orange: #ff3b00;
$orange-hover: #c5360a;
$white: #f9f9f9;
$white-smoke: #f9f9f998;