@use "../styles/colors" as *;

.current-location {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
  color: $white;

  a {
    color: $orange;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $orange-hover;
    }
  }

  .separator {
    color: $white-smoke;
    margin: 0 0.3rem;
  }

  .current {
    font-weight: 500;
  }
}
