@use "../styles/colors" as *;

.divider {
  position: relative;
  background-color: $darker-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  margin-bottom: 70px;

  .divider-line {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: $orange;
    display: flex;
    align-items: center;
  }

  .divider-dot {
    position: absolute;
    width: 48px;
    height: 24px;
    background-color: $orange;
    border-radius: 999px;
    &--right {
      right: 20%;
    }
    &--left {
      left: 20%;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}
