@use "../styles/colors" as *;

.loader-block {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader {
  border: 16px solid $smoke-grey;
  border-top: 16px solid $orange;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}