@use "./colors" as *;

@mixin red-glow(
  $outline-size: 2px,
  $border-radius: 5px,
  $shadow-opacity: 0.6,
  $outline-opacity: 0.3
) {
  box-shadow: 0 0 20px rgba(192, 45, 0, $shadow-opacity);
  border-radius: $border-radius;
  outline: $outline-size solid rgba(255, 60, 0, $outline-opacity);
}

@mixin background($color: #f9f9f9, $border-radius: 5px, $shadow-opacity: 0.6) {
  background: $color;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(0, 0, 0, $shadow-opacity * 0.15);
}

@mixin button-styles(
  $color: $orange,
  $hover-color: $orange-hover,
  $padding: 10px,
  $border-radius: 5px
) {
  display: flex;
  background-color: $color;
  border: none;
  border-radius: $border-radius;
  color: $color;
  padding: $padding;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $hover-color;
  }
}
