@use "./colors" as *;

.navbar {
  position: sticky;
  top: 0;
  background: $bg-black;
  color: $white;
  border-bottom: 4px solid $orange;
  z-index: 100;

  .container.navbar__container {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    font-size: 24px;
    font-weight: bold;

    span {
      color: $orange;
    }

    .navbar__underline {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 4px;
      background: $orange;
    }
  }

  &__menu {
    display: flex;
    gap: 20px;

    .navbar__item {
      position: relative;
      padding: 0 10px;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 10%;
        height: 80%;
        width: 2px;
        background-color: $orange;
      }
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $orange-hover;
      }
    }
  }

  &__search {
    display: flex;
    background: $light-black;
    border: 1px solid $light-grey;
    border-radius: 4px;
    overflow: hidden;
    width: 350px;

    &:focus-within {
      border-color: $orange-hover;
    }

    input {
      background: transparent;
      border: none;
      padding: 8px 12px;
      color: $white;
      outline: none;

      &:focus + button {
        color: $orange-hover;
      }
    }

    button {
      background: transparent;
      border: none;
      padding: 8px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 8px;
      cursor: pointer;
      color: $white;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__icons-item {
    a {
      cursor: pointer;
      color: white;
      text-decoration: none;
    }

    i {
      margin-right: 5px;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      a,
      i {
        color: $orange-hover;
      }
    }
  }
}
