@use "app/assets//styles/fonts" as *;
@use "app/assets/styles/_app" as *;

body {
  background-color: #2F2F2F;
}

#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}